<mat-autocomplete #auto="matAutocomplete"
                  autoActiveFirstOption="true"
                  (optionSelected)="select($event.option.value)"
>
  @for (card of filteredCards; track card.Name) {
    <mat-option [value]="card" class="cardOption" [ngClass]="[card.Color]">
      {{card.Name}}<br>
      {{card.Color}}, {{card.Cost}} cost, {{card.Inkable ? 'inkable' : 'uninkable'}}
    </mat-option>
  }
</mat-autocomplete>
<mat-form-field class="full-width">
  <mat-label>Card name</mat-label>
  <input #filter
         (keyup)="updateFilter(filter.value)"
         type="text"
         placeholder="Card name"
         aria-label="Card name"
         matInput
         [matAutocomplete]="auto"
  >
</mat-form-field>

