.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 48rem;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer {
  max-width: 48rem;
  color: gray;
  position: fixed;
  bottom: 0;
  font-size: x-small;
  line-height: normal;
}

@media screen and (max-height: 800px) {
  .footer {
    font-size: xx-small;
  }
}
