<main class="main">
  <div class="content">
    <mat-toolbar color="primary">
      <div class="toolbar">
        <a mat-button routerLink="/">Luminary of Archimedes</a>
        <div>
          <button mat-raised-button (click)="clearCacheAndReload()">
            <mat-icon>cleaning_services</mat-icon>
            <mat-icon>add</mat-icon>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <ng-container *ngIf="loaded && !error">
      <app-card-picker></app-card-picker>
      <router-outlet></router-outlet>
    </ng-container>

    <ng-container *ngIf="loaded && error">
      <pre>{{error.toString()}}
Stack trace, if available:
{{error.stack}}</pre>
    </ng-container>

    <ng-container *ngIf="!loaded">
      Card data loading...
      <app-default-view></app-default-view>
    </ng-container>

    <div>
      Tournament documents (retrieved from <a href="https://www.disneylorcana.com/en-US/resources" target="_blank">the official resources page</a>):
      <ul>
        <li>Comprehensive rules:
          <a href="https://files.disneylorcana.com/Disney%20Lorcana%20Comprehensive%20Rules%20-%20032724%201.pdf">[EN]</a>
          (no other languages available)
        </li>
        <li>Tournament rules:
          <a href="https://cdn.ravensburger.com/lorcana/tournament-rules" target="_blank">[EN]</a>,
          <a href="https://cdn.ravensburger.com/lorcana/tournament-rules-de" target="_blank">[DE]</a>,
          <a href="https://cdn.ravensburger.com/lorcana/tournament-rules-fr" target="_blank">[FR]</a>,
          <a href="https://cdn.ravensburger.com/lorcana/tournament-rules-it" target="_blank">[IT]</a>,
        </li>
        <li>Play correction guidelines:
          <a href="https://cdn.ravensburger.com/lorcana/play-correction-guidelines-en" target="_blank">[EN]</a>,
          <a href="https://cdn.ravensburger.com/lorcana/play-correction-guidelines-de" target="_blank">[DE]</a>,
          <a href="https://cdn.ravensburger.com/lorcana/play-correction-guidelines-fr" target="_blank">[FR]</a>,
          <a href="https://cdn.ravensburger.com/lorcana/play-correction-guidelines-it" target="_blank">[IT]</a>,
        </li>
      </ul>
    </div>
  </div>
</main>
