<main class="main">
  <div class="content">
    <mat-toolbar color="primary">
      <div class="toolbar">
        <a mat-button routerLink="/">Luminary of Archimedes</a>
        <div>
          <button mat-raised-button (click)="clearCacheAndReload()">
            <mat-icon>cleaning_services</mat-icon>
            <mat-icon>add</mat-icon>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    @if (loaded && !error) {
      <app-card-picker></app-card-picker>
      <router-outlet></router-outlet>
    }
    @if(!loaded) {
      Card data loading...
      <app-default-view></app-default-view>
    }
    @if (error) {
      <pre>{{error.toString()}}
        Stack trace, if available:
        {{error.stack}}</pre>
    }

    <div>
      English tournament documents (retrieved from <a href="https://www.disneylorcana.com/en-US/resources" target="_blank">the official resources page</a>):
      <ul>
        <li>
          <a href="https://files.disneylorcana.com/Disney-Lorcana-Comprehensive-Rules-020526-EN.pdf">
            Comprehensive rules
          </a>
          (updated Feb. 05 2026)
        </li>
        <li>
          <a href="https://files.disneylorcana.com/Disney%20Lorcana%20TCG%20Tournament%20Rules%20S2_09-Sep-25.pdf" target="_blank">
            Tournament rules
          </a>
          (updated Sept. 9 2025)
        </li>
        <li>
          <a href="https://files.disneylorcana.com/Disney_Lorcana_Play_Correction_Guidelines_052124update.pdf" target="_blank">
            Play correction guidelines
          </a>
          (updated May 21 2024)
        </li>
      </ul>
    </div>
    <div class="space-eater"></div>
    <div class="footer">
      This website uses trademarks and/or copyrights associated with Disney Lorcana TCG, used under Ravensburger’s
      Community Code Policy
      (<a href="https://cdn.ravensburger.com/lorcana/community-code-en">https://cdn.ravensburger.com/lorcana/community-code-en</a>).
      We are expressly prohibited from charging you to use or access this content. This website is not published,
      endorsed, or specifically approved by Disney or Ravensburger. For more information about Disney Lorcana
      TCG, visit <a href="https://www.disneylorcana.com/en-US/">https://www.disneylorcana.com/en-US/</a>.
    </div>
  </div>
</main>
