<main class="main">
  <div class="content">
    <mat-toolbar color="primary">
      <div class="toolbar">
        <span>Luminary of Archimedes</span>
        <div>
          <button mat-raised-button (click)="clearCacheAndReload()">
            <mat-icon>cleaning_services</mat-icon>
            <mat-icon>add</mat-icon>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <ng-container *ngIf="loaded && !error">
      <app-card-picker></app-card-picker>
      <router-outlet></router-outlet>
    </ng-container>

    <ng-container *ngIf="loaded && error">
      <pre>{{error.toString()}}
  Stack trace, if available:
  {{error.stack}}</pre>
    </ng-container>

    <ng-container *ngIf="!loaded">
      Card data loading...
      <app-default-view></app-default-view>
    </ng-container>
  </div>
</main>
